In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Delhi_metadata.csv')

In [3]:
data.head()

,date_of_filing,cino,dt_regis,fil_no,fil_year,reg_no,reg_year,date_first_list,date_next_list,archive,...,transfer_est_name,transfer_est_date,writinfo,processes,complex_code,court_code,iaFiling,sub_matter,main_matter,link_cases
0,2017-10-31,DLNW010107362017,2017-11-06,5342,2017,701,2017,2017-11-29,2018-04-10,Y,...,0,0,0,0,1,1,0,0,0,0
1,2018-07-02,DLNW010069892018,2018-07-02,3260,2018,2178,2018,2018-07-04,2018-07-04,Y,...,0,0,0,0,1,1,0,0,0,0
2,2018-08-09,DLNW010088032018,2018-08-09,4048,2018,2679,2018,2018-08-10,2018-08-10,Y,...,0,0,0,0,1,1,0,0,0,0
3,2016-07-28,DLNW010053952016,2016-07-28,19113,2016,202,2016,2016-07-29,2016-07-29,Y,...,0,0,0,0,1,1,0,0,0,0
4,2017-08-09,DLNW040021562017,2017-08-25,1574,2017,19,2017,2017-10-06,2018-01-08,Y,...,0,0,0,0,1,4,0,0,<table class='MainCase' border='1'><tr><td wi...,0

In [5]:
from datetime import datetime
data[data['dt_regis'] == '2018']

Empty DataFrame
Columns: [date_of_filing, cino, dt_regis, fil_no, fil_year, reg_no, reg_year, date_first_list, date_next_list, archive, date_of_decision, disp_nature, purpose_next, court_no, pet_name, pet_adv, res_name, res_adv, res_legal_heir, pet_legal_heir, hide_pet_name, hide_res_name, pet_status, res_status, under_act1, under_act2, under_act3, under_act4, under_sec1, under_sec2, under_sec3, under_sec4, fir_no, police_st_code, fir_year, lower_court_code, lower_court, lower_court_dec_dt, case_no, goshwara_no, date_last_list, transfer_est, main_matter_cino, main_case_no, purpose_name, type_name, petNameAdd, str_error, disp_name, resNameAdd, str_error1, act, fir_details, subordinateCourtInfoStr, historyOfCaseHearing, interimOrder, finalOrder, transfer, courtno, desgname, ldesgname, desgcode, jcode, petparty_name, resparty_name, court_name, est_code, state_code, district_code, state_name, district_name, transfer_est_flag, transfer_est_name, transfer_est_date, writinfo, processes, complex_code, court_code, iaFiling, sub_matter, main_matter, link_cases]
Index: []

[0 rows x 82 columns]